.container{
    border-radius: 10px;
    width: 15.875rem;
    background-color: #FFFFFF;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.taskItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigateBefore{
    color: #226ED8;
    border: 1px solid #226ED8;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.navigateNext{
    color: #FFFFFF;
    background-color: #226ED8;
    border-radius: 20px;
    cursor: pointer;
}

.replayIcon{
    color: #FFFFFF;
    background-color: #226ED8;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.2rem;
}

.navigateBefore:hover{
    background-color: #EEEEEE;
}

.navigateNext:hover{
    background-color: #114FA7;
}

.replayIcon:hover{
    background-color: #114FA7;
}

.deleteButton {
    position: absolute;
    top: 1.5rem;
    left: -3.25rem;
    background-color: #FFFFFF;
    height: 2rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #DF0000;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: #DF0000;
    color: #FFFFFF;
}