.container{
    border-radius: 10px;
    width: 15.875rem;
    background-color: #FFFFFF;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.taskItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.navigateBefore{
    color: #226ED8;
    border: 1px solid #226ED8;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.navigateNext{
    color: #FFFFFF;
    background-color: #226ED8;
    border-radius: 20px;
    cursor: pointer;
}

.replayIcon{
    color: #FFFFFF;
    background-color: #226ED8;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.2rem;
}

.navigateBefore:hover{
    background-color: #EEEEEE;
}

.navigateNext:hover{
    background-color: #114FA7;
}

.replayIcon:hover{
    background-color: #114FA7;
}

.deleteButton {
    position: absolute;
    top: 1.5rem;
    left: -3.25rem;
    background-color: #FFFFFF;
    height: 2rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #DF0000;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: #DF0000;
    color: #FFFFFF;
}

.container.dark{
    background-color: #3D3D3D;
}

.dark .deleteButton{
    background-color: #535353;
    color: #FFAFAF;
}

.dark .deleteButton:hover{
    background-color: #FFAFAF;
    color: #535353;
}

.descExpand {
    color: #002D6C;
}

.dark .description {
    color: white;
}

.dark .descExpandDark, .dark .descExpandDark p {
    color: #5C9DFF;
}

.dark .navigateNext{
    color: #3D3D3D;
}

.dark .navigateBefore{
    background-color: #3D3D3D;
}

.dark .replayIcon{
    color: #3D3D3D;
}

.dark .navigateBefore:hover{
    background-color: #333333;
}