.container{
    height: 100vh;
    width: 100%;
}

.header{
    background-color: #226ED8;
    width: 100%;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title{
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.footer{
    display: flex;
    background-color: #114FA7;
    width: 100%;
    height: 3.125rem;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 17.5rem;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 17.5rem;
    gap: 2.5rem;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.taskContainer{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.taskBox{
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 18.313rem;
    height: 21rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.taskBox::-webkit-scrollbar {
    width: 0.5rem;
}

.taskBox::-webkit-scrollbar-track {
    background: transparent;
}

.taskBox::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 10px;
}

.taskBox::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}

.addIcon{
    border: 2px solid #226ED8;
    border-radius: 20px;
    padding: 0.25rem;
    color: #226ED8;
    cursor: pointer;
}

.addIcon:hover{
    color: white;
    background-color: #226ED8;
}

.toggleIcon{
    background: linear-gradient(#FFC93F, #FFC93F);
    width: 4rem;
    height: 2rem;
    padding: 0.15rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.lightIcon{
    color: #FBB910;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding: 0.1rem;
    cursor: pointer;
}

.darkIcon{
    color: #222222;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding: 0.1rem;
    cursor: pointer;
    opacity: 0;
}

.dark .lightIcon{
    opacity: 0;
}

.dark .darkIcon{
    opacity: 1;
}

.dark .toggleIcon{
    background: linear-gradient(#222222, #111111);
}

.dark .header{
    background-color: #333333;
}

.dark .title{
    color: #3867D6;
}

.dark .body{
    background-color: #222222;
}

.dark .footer{
    background-color: #111111;
}

.dark .taskContainer p{
    color: #FAFAFA;
}

.dark .taskBox{
    background-color: #333333;
}